Connected Services/ServiceReference2/MyService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59375/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59375/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59375/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_InsertProductToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductToUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_InsertProductToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_findUser_InputMessage">
    <wsdl:part name="parameters" element="tns:findUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_findUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:findUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_findProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:findProduct" />
  </wsdl:message>
  <wsdl:message name="IMyService_findProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:findProductResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProductsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetProductsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMoney" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdateMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetUsers" message="tns:IMyService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetUsersResponse" message="tns:IMyService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/InsertUser" message="tns:IMyService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/InsertUserResponse" message="tns:IMyService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetProducts" message="tns:IMyService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetProductsResponse" message="tns:IMyService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProductToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/InsertProductToUser" message="tns:IMyService_InsertProductToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/InsertProductToUserResponse" message="tns:IMyService_InsertProductToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/findUser" message="tns:IMyService_findUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/findUserResponse" message="tns:IMyService_findUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/findProduct" message="tns:IMyService_findProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/findProductResponse" message="tns:IMyService_findProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetProductsByUser" message="tns:IMyService_GetProductsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetProductsByUserResponse" message="tns:IMyService_GetProductsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdateMoney" message="tns:IMyService_UpdateMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdateMoneyResponse" message="tns:IMyService_UpdateMoney_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProductToUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/InsertProductToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/findUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProduct">
      <soap:operation soapAction="http://tempuri.org/IMyService/findProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetProductsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoney">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdateMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:59375/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>